//    Font Family

$title-font: "Poppins", sans-serif;
$text-font:  'Open Sans', sans-serif;
/*--------------------------- Color variations ----------------------*/

$primary-color: #ff9a9e;
$primary-color2: #fad0c4;
$title-color: #222222;
$text-color: #777777;

$white: #fff;
$offwhite: #f9f9ff;
$black: #000;
